<!doctype html>
<html lang="en">

<head>
    <title>Home Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cyborg/bootstrap.min.css">

    <!-- local stylesheets -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/footer.css" </head>

    <!-- this is so raw Vue coded is not shown on first time rendering -->
    <style>
        [v-cloak] {
            display: none;
        }
    </style>


    </script>

    <body>


        <div id="navBarContainer">
            <!--animated X navbar-->
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-custom justify-content-between">

                <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation" onclick='navbarFunction(this)'>
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </button>

                <a class="navbar-brand ml-4 mr-2" href="index.html">Company Name Here</a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto ml-1">
                        <li class="nav-item active mr-2">
                            <a class="nav-link" href="index.html">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">Categories</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Funny</a>
                                <a class="dropdown-item" href="#">Documentaries</a>
                                <a class="dropdown-item" href="#">Science</a>
                                <a class="dropdown-item" href="#">Tech</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-1 mr-4">
                        <li class="nav-item">
                            <a class="nav-link mr-2" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div id="videoApp">

             <!-- main video starts here -->
            <div class="jumbotron jumbotron-fluid" id="mainVideoJumbotron">
                <div class="container-fluid" id="mainVideoContainer">
                    <div class="row justify-content-center">

                        <div class="col-lg-7 col-sm-12">

                            <h1 class="heading text-center">I, Pet Goat &#8545;</h1>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/6n_xCI-peq0" allowfullscreen></iframe>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            

            <h1 class="top10Heading text-center">
                <i class="fas fa-angle-double-down blink"></i> Top 10 Videos
                <i class="fas fa-angle-double-down blink"></i>
            </h1>



            <!-- top 10 start here -->
            <div class="container">
                <div class="row justify-content-center">


                    <div class="col-6">
                        <div class="jumbotron top10Jumbotron">
                            <h2 class="top10Label">1. Adam Episode 1</h2>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/GXI0l3yqBrA" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="jumbotron top10Jumbotron">
                            <h2 class="top10Label">2. Divisor</h2>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/ugH8cPC_Byg" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="jumbotron top10Jumbotron">
                            <h2 class="top10Label">3. Urbance</h2>
                            <div class="embed-responsive embed-responsive-16by9 ">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/VAeg7GErmXQ" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 ">
                        <div class="jumbotron top10Jumbotron">
                            <h2 class="top10Label">4. Breaker</h2>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/nAuYKQ-j86s" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div v-bind:class={hideBtn:hideBtn} class="container text-center">
                <button @click="showRemaingVideos" type="button" class="btn btn-outline-primary btn-lg  showMoreBtn">Show More</button>
            </div>

            <div v-show="showRemainingContent">
                <div class="container">
                    <div class="row justify-content-center">


                        <div class="col-6 ">
                            <div class="jumbotron top10Jumbotron">
                                <h2 class="top10Label">5. Rha</h2>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/muYFZVj-kDY" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 ">
                            <div class="jumbotron top10Jumbotron">
                                <h2 class="top10Label">6. The Looking Planet</h2>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/A8LRxIANzQs" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 ">
                            <div class="jumbotron top10Jumbotron">
                                <h2 class="top10Label">7. Rise</h2>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-3fu2273-DQ" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 ">
                            <div class="jumbotron top10Jumbotron">
                                <h2 class="top10Label">8. True Skin</h2>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe width="560" height="315 " src="https://www.youtube.com/embed/ETv3eNj46EM" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="jumbotron top10Jumbotron">
                                <h2 class="top10Label">9. Uncanny Valley</h2>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/UXX0TRtg5Vk" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="jumbotron top10Jumbotron">
                                <h2 class="top10Label">10. Strange Alloy</h2>
                                <div class="embed-responsive embed-responsive-16by9 ">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Otnv6QGtksA" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- footer starts here -->
        <footer class="footer text-center" id="footerApp" v-cloak>

            <h4 class="copyRightLabel">&copy; 2018 - My Company Name</h4>

            <div v-if="!phoneClick && !emailClick">
                <div class="social-media-buttons ">

                    <!-- You can put a link to your facebook where it says #yourFBUrlGoesHere -->
                    <div class="social-media-button facebook ">
                        <a href="#yourFBUrlGoesHere">
                            <i class="fab fa-facebook "></i>
                        </a>
                    </div>
                    <!-- You can put a link to your facebook where it says #yourInstagramUrlGoesHere -->
                    <div class="social-media-button instagram ">
                        <a href="#yourInstagramUrlGoesHere">
                            <i class="fab fa-instagram "></i>
                        </a>
                    </div>

                    <!-- To change the email shown when email icon is clicked go to folder named js and find 
                    the file named app.js and find the Vue instance named footer instructions will be provided there -->
                    <div class="social-media-button envelope ">
                        <a v-on:click="emailPopulate" id="email ">
                            <i class="fa fa-envelope " aria-hidden="true "></i>
                        </a>
                    </div>

                    <!-- To change the phone number shown when phone icon click go to folder named js and find 
                    the file named app.js and find the Vue instance named footer instructions will be provided there -->
                    <div class="social-media-button phone ">
                        <a v-on:click="phonePopulate">
                            <i class="fa fa-phone " aria-hidden="true "></i>
                        </a>
                    </div>
                </div>

            </div>

            <div v-if="phoneClick">
                <p class="labelInfo">{{phone}}
                    <p>
                        <button @click="toggleButtons" type="button" class="btn btn-outline-dark btn-sm">Toggle Back</button>
            </div>

            <div v-if="emailClick">
                <p class="labelInfo">{{email}}
                    <p>
                        <button @click="toggleButtons" type="button" class="btn btn-outline-dark btn-sm">Toggle Back</button>
            </div>

        </footer>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
            crossorigin="anonymous "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
            crossorigin="anonymous "></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js " integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em "
            crossorigin="anonymous "></script>

        <!-- Vue cdn targeting the latest version so that future updates won't break code -->
        <script src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"></script>

        <!-- local scripts -->
        <script type="text/JavaScript " src="js/navBar.js "> </script>
        <!-- This is the where the Vue code resides -->
        <script type="text/JavaScript" src="js/app.js"></script>
    </body>

</html>